.cmp_checkbox {
    background-color: #fff;
    border: 5px solid #333;
    border-radius: 15pt;
    display: block;
    padding: 15px
}

.cmp_checkborder .cmp_checkbox,
.cmp_checkbox {
    margin-left: 0px;
    margin-top: 12px;
    margin-bottom:2px;
}

.dest,
.ses {
    color: #333;
    font-family: Asar, Georgia, Times New Roman, Times, serif;
    font-size: larger
}