<div>
<h3>Follow Us</h3><br>

<sly data-sly-test="${properties.facebook}">
<a href="https://www.facebook.com" target="_blank"><i class="icon ion-social-facebook" ></i></a>
</sly>

<sly data-sly-test="${properties.twitter}">
<a href="https://www.twitter.com" target="_blank"><i class="icon ion-social-twitter" ></i></a>
</sly>


<sly data-sly-test="${properties.snap}">
<a href="https://www.snapchat.com/" target="_blank"><i class="icon ion-social-snapchat" ></i></a>
</sly>

<sly data-sly-test="${properties.insta}">
<a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram" ></i></a>
</sly>


<sly data-sly-test="${properties.youtube}">
<a href="https://www.youtube.com/" target="_blank"><i class="icon ion-social-youtube" ></i></a>
</sly>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


